<!DOCTYPE html>
<html>
<head>
  <title>Etsy3</title>
  <link rel="stylesheet" href="css/vendor.css">
  <link href='https://fonts.googleapis.com/css?family=Tinos:400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="container">
	<nav>	
	<section class="seca">
		<div class="logo">
			<a href="#">Etsy</a>
		</div>
		<div class="input">
			<form class="form-wrapper cf">
	        <input type="text" placeholder="Search here..." value="Search for Items or shops" class="shops">
	        <button type="search" class="butt">Search</button>
	    </form>
		</div>
		<div class="account">
			<ul class="topnav">
				<li><a href="#">Sell on Etsy</a></li>
				<li><a href="#">Register</a></li>
				<li class="button">
					<a href="#"><span>Sign in</span></a>
				</li>
				<div class="sc">
					<li class="cart">
						<a href="#"><img class="pic" src="images/cart.png"><p class="para">Cart</p></a>
					</li>
				</div>
			</ul>
		</div>
		</section>
		</nav>
		<nav>
		<section class="secb">
			<div class="navb">
				<ul class="cloth">
					<li class="b"><a href="#">Clothing & Accessories</a></li>
					<li><a href="#">Jewelry</a></li>
					<li><a href="#">Craft Supplies & Tools</a></li>
					<li><a href="#">Weddings</a></li>
					<li><a href="#">Entertainment</a></li>
					<li><a href="#">Home & Living</a></li>
					<li><a href="#">Kids & Baby</a></li>
					<li><a href="#">Vintage</a></li>
				</ul>
			</div>
		</section>
		</nav>
		<section class="sidenav">
			<div class="show">
				<h5>Show results for:</h5>
			</div>
			<div class="results">
				<ul class="showfor">
					<li class="lefty"><h5>All Categories</h5></li>
					<li class="left"><a href="#">Jewelry</a></li>
					<li class="left"><a href="#">Craft Supplies & Tools</a></li>
					<li class="left"><a href="#">Home & Living</a></li>
					<li class="left"><a href="#">Art & Collectibles</a></li>
					<li class="left"><a href="#">Accessories</a></li>
					<li class="left"><a href="#">Clothing</a></li>
					<li class="left"><a href="#">Bath & Beauty</a></li>
					<li class="left"><a href="#">Paper & Party Supplies</a></li>
					<li class="left"><a href="#">Bags & Purses</a></li>
					<li class="left"><a href="#">Weddings</a></li>
					<li class="left"><a href="#">Electronic & Accessories</a></li>
					<li class="left"><a href="#">Toys & Games</a></li>
					<li class="left"><a href="#">Books, Movies & Music</a></li>
					<li class="left"><a href="#">Pet Supplies</a></li>
					<li class="left"><a href="#">Shoes</a></li>
				</ul>
			</div>
				<div>
					<h5>Refine your search</h5>
				</div>
				<div class="refine">
					<h5>Item Type</h5>
					<ul class="refineb">
						<li><input type="radio" name="group1" value="item" checked >All Items</li>
						<li><input type="radio" name="group1" value="item">Handmade</li>
						<li><input type="radio" name="group1" value="item">Vintage</li>
						</ul>
						<hr size=1>
						<div class="low">
							<h5>Price</h5>
						</div>
						<div class="pinput">
							<ul>
							<li>
								<span class="input-group-addon">$</span><input type="text" placeholder="Low" value="Low" class="curr">
								</li>
								<li>to</li>
								<li>
								<span class="input-group-addon">$</span><input type="text" placeholder="High" value="High"class="curr">
								</li>
								<li><button type="submit" class="arrow"></button></li>
							</ul>
						</div>
				<hr size=1>
				<div class="filter">
					<h5>Filter by Color</h5>
					<ul class="fc">
						<li class="color"><a href="#" class="red">red</a></li>
						<li class="color"><a href="#" class="orange">red</a></li>
						<li class="color"><a href="#" class="yellow">red</a></li>
						<li class="color"><a href="#" class="green">red</a></li>
						<li class="color"><a href="#" class="turquoise">red</a></li>
						<li class="color"><a href="#" class="purple">red</a></li>
						<li class="color"><a href="#" class="black">red</a></li>
						<li class="color"><a href="#" class="white">red</a></li>
					</ul>
				</div>
				<hr size=1>
				<div class="ordering">
					<h5>Ordering Options</h5>
					<ul>
						<li><input type="checkbox" name="card" value="gift">Accepts Etsy Gift Cards</li>
						<li><input type="checkbox" name="custom" value="customizable">Customizable</li>
					</ul>
				</div>
				<hr size=1>
				<div class="location">
					<h5>Shop Location</h5>
					<ul>
					<li><input type="radio" name="group2" value="anywhere" checked >Anywhere</li>
					<li><input type="radio" name="group2" value="us">United States</li>
					<li><a href="#" class="solo">Choose a custom location</a></li>
					</ul>
				</div>
				<hr size=1>
				<div class="ship">
					<h5>Ship To</h5>
					<select name="Ship To" class="select" >
						<option>Choose country...</option>
						<optgroup label="--------------">
							<option value="FR">France</option>
							<option value="CA">Canada</option>
							<option value="US">United States</option>
						</optgroup>
						<optgroup label="---------------">
							<option>Africa</option>
							<option>Japan</option>
							<option>Belize</option>
						</optgroup>
					</select>
				</div>
				</div>
		</section>
<a href=""></a>
</div>

<section class="item-results">
 
    <script type="text/template" id="itemTemplate">

      <div class= "item">

       <div class= "item-img">
        <p><a href="#"><img src=" <%= Images[0].url_170x135 %>"><a/></p>
        <p class="small"><a href="#"><img src="images/heart.png"><a/></p>
        <p class="smaller"><a href="#"><img src="images/hamburger.png"><a/></p>
       </div>

        <div class="item-disc">   
         <div class="item-title">
          <p><a href="#"><%= title %></a></p> 
         </div>
        <div class="item-subtitle">
          <p class="shop"><%= Shop.shop_name %></p>
          <p class="price"><%= "$"+price+" "+currency_code %></p>
         </div>    
       </div>

      </div>

    </script>

</section>
	<section class="good">
	<h5>Related to <span>free</span></h5>
	<ul class="first">
		<li><a href="#">free stuff</a></li>
		<li class="x"><a href="#">free anime</a></li>
		<li class="y"><a href="#">free crochet patterns</a></li>
	</ul>
	<ul class="second">
		<li><a href="#">free printables</a></li>
		<li class="k"><a href="#">free iwatobi swim club</a></li>
		<li class="j"><a href="#">free people</a></li>
	</ul>
	<ul class="third">
		<li><span>Looking for shops?</span></li>
		<li class="yep"><a href="#">freemoment,</a></li>
		<li class="yep"><a href="#">Freeheart1,</a></li>
		<li class="yep"><a href="#">FreeRangeBookbinding.</a></li>
		<li class="yep"><a href="#">See more.</a></li>
	</ul>

	 <div class="numbers">
    <a class="page"><</a>
    <a class="page" href="#">1</a>
    <a class="page" href="#">2</a>
    <a class="page"href="#">3</a>
    <a class="page"href="#">4</a>
    <a class="page"href="#">5</a>
    <a class="page"href="#">6</a>
    <a class="page"href="#">7</a>
    <a class="page"href="#">8</a>
    <a class="page"disabled="disabled">...</a>
    <a class="page"href="#">234</a>
    <a class="page">></a>  
   </div>
</section>

</div>




  

  <!--<script src="bower_components/jquery/dist/jquery.min.js"></script>
  // <script src="bower_components/underscore/underscore-min.js"></script>-->
  <script src="js/vendor.js"></script>
  <script src="js/main.js"></script>
</body>
</html>